__pycache__/
.env
.mypy_cache/
.pytest_cache/
.tools/
.venv/
*.egg-info/
*.py[cod]
*$py.class
build/
dist/
venv/
/.temp
/datas/backups
/datas/files/contact-pdfs
/datas/files/contact-attachments
/datas/files/weekly-meeting-images
/datas/files/weekly-meeting-scans
/datas/files/path_template
/tests
